<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<footer>
    <p>Author: Nguyễn Quang Huy - Lý Tấn Lộc<br></p>
    <a href="mailto:nqhuy.is.me@gmail.com">Mail: nqhuy.is.me@gmail.com</a></p>
</footer>